<ul class="side-nav">

  <!-- HOME -->
  <li class="side-nav-item">
    <a href="/dashboard" class="side-nav-link">
      <i class="ri-dashboard-line"></i>
      <span> Dashboard </span>
    </a>
  </li>

  <!-- INTAKE -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#intakeMenu" class="side-nav-link">
      <i class="ri-user-add-line"></i>
      <span> Intake </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="intakeMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">Leads</a></li>
        <li><a href="#">Intake Forms</a></li>
        <li><a href="#">Appointments</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
  </li>

  <!-- PEOPLE -->
  <li class="side-nav-item">
    <a href="#" class="side-nav-link">
      <i class="ri-group-line"></i>
      <span> People </span>
    </a>
  </li>

  <!-- ORGANIZATIONS -->
  <li class="side-nav-item">
    <a href="#" class="side-nav-link">
      <i class="ri-building-line"></i>
      <span> Organizations </span>
    </a>
  </li>

  <!-- MATTERS -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#mattersMenu" class="side-nav-link">
      <i class="ri-briefcase-line"></i>
      <span> Matters </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="mattersMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">All Matters</a></li>
        <li><a href="#">Create Matter</a></li>
        <li><a href="#">Matter Templates</a></li>
      </ul>
    </div>
  </li>

  <!-- TASKS -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#tasksMenu" class="side-nav-link">
      <i class="ri-task-line"></i>
      <span> Tasks </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="tasksMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">My Tasks</a></li>
        <li><a href="#">Team Tasks</a></li>
      </ul>
    </div>
  </li>

  <!-- CALENDAR -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#calendarMenu" class="side-nav-link">
      <i class="ri-calendar-line"></i>
      <span> Calendar </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="calendarMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">Firm Calendar</a></li>
        <li><a href="#">Court Dates</a></li>
      </ul>
    </div>
  </li>

  <!-- DOCUMENTS -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#documentsMenu" class="side-nav-link">
      <i class="ri-file-list-line"></i>
      <span> Documents </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="documentsMenu">
      <ul class="side-nav-second-level">
        <li><a href="/documents">Document Center</a></li>
        <li><a href="/documents/templates">Templates</a></li>
        <li><a href="/cases/1/pleadings">E-File / Filing Workspace</a></li>
      </ul>
    </div>
  </li>

  <!-- BILLING -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#billingMenu" class="side-nav-link">
      <i class="ri-wallet-line"></i>
      <span> Billing </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="billingMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">Time Entries</a></li>
        <li><a href="#">Expenses</a></li>
        <li><a href="#">Invoices</a></li>
        <li><a href="#">Payments</a></li>
      </ul>
    </div>
  </li>

  <!-- REPORTS -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#reportsMenu" class="side-nav-link">
      <i class="ri-bar-chart-line"></i>
      <span> Reports </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="reportsMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">Matter Reports</a></li>
        <li><a href="#">Billing Reports</a></li>
        <li><a href="#">Productivity</a></li>
      </ul>
    </div>
  </li>

  <!-- SETTINGS -->
  <li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#settingsMenu" class="side-nav-link">
      <i class="ri-settings-3-line"></i>
      <span> Settings </span>
      <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="settingsMenu">
      <ul class="side-nav-second-level">
        <li><a href="#">Firm Profile</a></li>
        <li><a href="#">Users & Roles</a></li>
        <li><a href="#">Practice Areas</a></li>
        <li><a href="#">Tax Setup (GST/VAT)</a></li>
      </ul>
    </div>
  </li>

</ul>
<!-- End Sidebar -->





